name: CI tests

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
  workflow_dispatch:

jobs:

  linter:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4
    - name: Install clang-tidy
      run: |
        sudo apt-get install -y clang-tidy-11
        sudo update-alternatives --install /usr/bin/clang-tidy clang-tidy /usr/bin/clang-tidy-11 100
    - name: lint with clang-tidy
      run: |
        make lint
      env:
        CC: clang
        CXX: clang++

  linux:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cmake_opts:
          - '-DBUILD_SHARED_LIBS=YES'
          - ''
        compiler:
          - c: 'clang'
            cpp: 'clang++'
            cflags: '-gdwarf-4'
          - c: 'gcc'
            cpp: 'g++'
    env:
       CMAKE_OPTIONS: ${{ matrix.cmake_opts }}
       CC: ${{ matrix.compiler.c }}
       CXX: ${{ matrix.compiler.cpp }}
       CFLAGS: ${{ matrix.compiler.cflags }}
       CXXFLAGS: ${{ matrix.compiler.cflags }}

    steps:
    - uses: actions/checkout@v4
    - name: Install valgrind
      run: |
         sudo apt update
         sudo apt install -y valgrind
    - name: Build and test
      run: |
         cmake $CMAKE_OPTIONS -DCMAKE_BUILD_TYPE=Debug -S . -B build
         cmake --build build
         ctest --test-dir build --output-on-failure
         make leakcheck

  sanitizers:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    env:
       CC: 'clang'
       CXX: 'clang++'
       CFLAGS: '-fsanitize=address,undefined -fno-sanitize-recover=all'
       CXXFLAGS: '-fsanitize=address,undefined -fno-sanitize-recover=all'

    steps:
    - uses: actions/checkout@v4
    - name: Build and test
      run: |
         cmake -DBUILD_SHARED_LIBS=NO -DCMAKE_BUILD_TYPE=Debug -S . -B build
         cmake --build build
         # https://github.com/actions/runner-images/issues/9491
         sudo sysctl vm.mmap_rnd_bits=28
         ctest --test-dir build --output-on-failure

  macos:

    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        cmake_opts:
          - '-DBUILD_SHARED_LIBS=YES'
          - ''
        compiler:
          - c: 'clang'
            cpp: 'clang++'
          - c: 'gcc'
            cpp: 'g++'
    env:
       CMAKE_OPTIONS: ${{ matrix.cmake_opts }}
       CC: ${{ matrix.compiler.c }}
       CXX: ${{ matrix.compiler.cpp }}

    steps:
    - uses: actions/checkout@v4
    - name: Build and test
      run: |
         cmake $CMAKE_OPTIONS -DCMAKE_BUILD_TYPE=Debug -S . -B build
         cmake --build build
         ctest --test-dir build --output-on-failure

  windows:

    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        cmake_opts:
          - '-DBUILD_SHARED_LIBS=YES'
          - ''
    env:
       CMAKE_OPTIONS: ${{ matrix.cmake_opts }}

    steps:
    - uses: actions/checkout@v4
    - uses: ilammy/msvc-dev-cmd@v1
    - name: Build and test
      run: |
        cmake %CMAKE_OPTIONS%  -DCMAKE_BUILD_TYPE=Debug -S . -B build
        cmake --build build
        ctest --test-dir build -C Debug --output-on-failure
      shell: cmd
